@{
    ViewBag.Title = "EntityJs - home";
}

<ul id="menu">
    <li>
        <a href="@Url.Content("~/")">Home</a>
    </li>
</ul>
<h1>EntityJs - documentation</h1>
<ul>
    <li>
        <a href="@Url.Content("~/Home/Index/About")">About EntityJs</a>
    </li>
    <li>
        <a href="@Url.Content("~/Home/Index/ServerSide")">Server side</a>
    </li>
    <li>
        <a href="@Url.Content("~/Home/Index/ClientSide")">Client side</a>
    </li>
    <li>
        <a href="@Url.Content("~/Home/Index/GettingStarted")">Getting started</a>
    </li>
    <li>
        <a href="@Url.Content("~/Home/Index/Licence")">EntityJs licence</a>
    </li>
    <li>
        <a href="https://github.com/miyconst/EntityJs/">Download from GitHub</a>
    </li>
    <li>
        Visit my website - <a href="http://www.miyconst.com/">www.miyconst.com</a>
    </li>
</ul>
